@using Dnp.Common.AngularHtmlHelper
@model Dnp.Kanban.ViewModel.DnpTaskViewModel

<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="cancel()"><span aria-hidden="true">&times;</span></button>
    <h4 class="modal-title" id="myModalLabel"></h4>
</div>
<div class="modal-body">
@using (Html.NgBeginForm("form-horizontal"))
{
    <div class="form-group">
        @Html.LabelFor(m=>m.ShortDescription, new { @class="col-sm-2 control-label" })
        <div class="col-sm-10">
            @Html.NgTextBoxFor( m => m.ShortDescription, new {@class="form-control"})
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.Priority, new { @class = "col-sm-2 control-label" })
        <div class="col-sm-10">
            @Html.NgComboBoxFor(m => m.Priority, "priorityList", "PriorityID", "Name", new { @class = "form-control" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.LongDescription, new { @class = "col-sm-2 control-label" })
        <div class="col-sm-10">
            @Html.NgTextAreaFor(m => m.LongDescription, new { @class = "form-control", @size=3 })
        </div>
    </div>

    <div class="form-group">
		@Html.LabelFor(m => m.StageID, new { @class = "col-sm-2 control-label" })
		<div class="col-sm-10">
			@Html.NgComboBoxFor(m => m.StageID, "Stages", "ID", "StageName", new { @class = "form-control" })
		</div>
	</div>
    
}
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-default" ng-click="cancel()">Close</button>
    <button type="button" class="btn btn-primary" ng-click="ok()">Save changes</button>
</div>

